<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div style="width: 400px; padding: 20px; margin: 0 auto;">
    <div style=" display: flex; padding-left: 18%; background-color: white;
        border: 3px solid #e0e0e0; border-top-left-radius: 15px; border-top-right-radius: 15px;
        ">
        <img style="width: 250px; border-radius: 5px"
             src="https://res.cloudinary.com/dzfwvoijo/image/upload/v1711787919/logo/logo_o6tcuw.jpg" alt="logo">
    </div>
    <div style="background-color: #dbeef5; padding: 20px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px">
        <h3 style="text-align: center; text-transform: uppercase; margin-top: 2px">Ticket</h3>
        <div style="display: flex; font-size: 16px; width: 100%">
            <div th:text="${date}"></div>
            <div style="margin-left: auto" th:text="${class}"></div>
        </div>
        <div style="display: flex; font-size: 16px; margin-top: 10px; width: 100%">
            <div th:text="${plane}"></div>
            <div style="margin-left: auto" th:text="${seatCode}"></div>
        </div>
        <div style="display: flex; font-size: 16px; margin-top: 10px; width: 100%">
            <div>Name: </div>
            <div style="margin-left: auto" th:text="${name}"></div>
        </div>
        <div style="border: 1px black dashed"></div>
        <h4>Note: The boarding gate will close 15 minutes before departure time. You will be rejected when the gate
            is closed!</h4>
            <img
                    th:src="${qRCode}"
                    alt="QR CODE"
                    style="width: 250px; height: 250px; margin-left: 15%"
            />
    </div>
</div>
</body>
</html>